fsspec==2024.12.0
huggingface_hub>=0.24
numba ; platform_system == 'Darwin'
numba-cuda[cu13]>=0.20.0 ; platform_system != 'Darwin'
numexpr<2.14.0 # WAR for attempted use of nonexistent numpy.typing
numpy>=1.22
onnx>=1.7.0
# Align with upstream PyTorch requirements
protobuf~=5.29.5
python-dateutil
ruamel.yaml
scikit-learn
setuptools>=70.0.0
tensorboard
text-unidecode
torch
tqdm>=4.41.0
wget
wrapt
